*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; 
} 
.navbar{
    height: 60px;
    color: white;
    background: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 100%;
    margin-left: 20px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* box2 */
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
/* box3 */
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    width: 950px;
    height: 40px;
    border-radius: 4px; 
}
.search-select{
    width: 50px;
    height: 100%;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}
.search-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: none;
    padding: 0px 0px;
}
.search-icon{
    width: 40px;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-search:hover{
    border:2px solid orange;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 20px;
}
/* panel section */
.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-all{
    margin-left: 20px;
}
.panel-options{
    font-size: 0.85rem;
    width: 80%;
}
.panel-deals{
    font-weight: 700;
    font-size: 0.9rem;
    margin-right: 20px;
}
/* hero section */
.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    height: 40px;
    width: 90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
